<!--

kontrola:
imetnik
izvajalec
podpisnik

-->


<table>
	<th>Kontrola</th>
	<tr>
		<td> Imetnik: </td>
		<td> {{kontrola.imetnik}} </td>
	</tr>
	<tr>
		<td>Izvajalec: </td>
		<td> {{kontrola.izvajalec}} </td>
	</tr>
	<tr>
		<td>Podpisnik: </td>
		<td> {{kontrola.podpisnik}} </td>
	</tr>
</table>