<div class="container">

    <form class="form-signin" method="POST">
      <h2 class="form-signin-heading">Prosimo za prijavo</h2>
      <label for="inputEmail" class="sr-only">Uporabnisko ime</label>
      <input type="name" id="inputEmail" class="form-control" placeholder="Uporabnisko ime" required autofocus name="ime">
      <label for="inputPassword" class="sr-only">Geslo</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Geslo" required name="geslo">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Prijavi me</button>
    </form>

  </div>